.field
    = f.label :address1, 'Address'
    = f.text_field :address1
.field
    = f.label :address2, 'Alternative Address'
    = f.text_field :address2
.field.location
    %label Country
    %select.countries
    %label Province
    %select.provinces
    = f.label :city_id, 'City'
    = f.select :city_id, [], {}, { class: 'cities' }
.field
    = f.label :zip_code, 'Zip Code'
    = f.text_field :zip_code