.mb-3
    = f.label :address1, 'Address', class: 'form-label'
    = f.text_field :address1, class: 'form-control'
    =render 'layouts/error_message', resource: address, field: :address1

.mb-3
    = f.label :address2, 'Alternative Address', class: 'form-label'
    = f.text_field :address2, class: 'form-control'
.mb-3.location
    %label.form-label Country
    %select.countries.form-select.mb-3{id: "#{f.object_name}[countries]"}
    %label.form-label Province
    %select.provinces.form-select.mb-3{id: "#{f.object_name}[provinces]", disabled: true}
    = f.label :city_id, 'City', class: 'form-label'
    = f.select :city_id, [], {}, { class: 'form-select cities', disabled: true }
    =render 'layouts/error_message', resource: address, field: :city
    =render 'layouts/error_message', resource: address, field: :city_id
.mb-3
    = f.label :zip_code, 'Zip Code', class: 'form-label'
    = f.text_field :zip_code, class: 'form-control'
    =render 'layouts/error_message', resource: address, field: :zip_code
