= form_with(model: shipment_quote) do |form|
  .row.my-4.gx-5
    .nested_field.col-6
      .card
        .card-header.bg-primary.text-white Pickup Address
        .card-body.p-4
          = form.fields_for :pickup_address do |pickup_address|
            = render 'address_fields', f: pickup_address, address: @shipment_quote.pickup_address
            = pickup_address.hidden_field :address_type, value: 'pickup'
    .nested_field.col-6
      .card
        .card-header.bg-primary.text-white Delivery Address
        .card-body.p-4
          = form.fields_for :delivery_address do |delivery_address|
            = render 'address_fields', f: delivery_address, address: @shipment_quote.delivery_address
            = delivery_address.hidden_field :address_type, value: 'delivery'
  .d-flex
    .compute_button.me-3
      %button#compute_button.btn.btn-lg.btn-primary{'data-bs-toggle': "modal", 'data-bs-target': "#courier_modal"}
        Compute Rates
    .actions
      = form.submit 'Save Quotation', class: 'btn btn-primary btn-lg'

= render 'modal/courier_table'
