= form_with(model: shipment_quote) do |form|
  - if shipment_quote.errors.any?
    #error_explanation
      %h2
        = pluralize(shipment_quote.errors.count, "error")
        prohibited this shipment_quote from being saved:
      %ul
        - shipment_quote.errors.each do |error|
          %li= error.full_message
  .field
    %h3 Pickup Address
    = form.fields_for :pickup_address do |pickup_address|
      = render 'address_fields', f: pickup_address
  .field
    %h3 Delivery Address
    = form.fields_for :delivery_address do |delivery_address|
      = render 'address_fields', f: delivery_address
  .compute_button
    %button#compute_button Compute Rates
  .actions
    = form.submit

%table
  %thead
    %tr
      %th Name
      %th Delivery Option
      %th Rate
  %tbody#courier_table{data: {couriers: CourierRate.details.to_json}}