.row.mb-5
    .col
        .card.border-primary.me-5
            .card-header.bg-primary.text-white Pickup Address
            .card-body.py-4
                %h5.card-title= @shipment_quote.pickup_address.address1
                %p.card-text.text-secondary= "#{@shipment_quote.pickup_address.city_name} | #{@shipment_quote.pickup_address.province_name} | #{@shipment_quote.pickup_address.country_name}"
    .col
        .card.border-primary
            .card-header.bg-primary.text-white Delivery Address 
            .card-body.py-4
                %h5.card-title= @shipment_quote.delivery_address.address1
                %p.card-text.text-secondary= "#{@shipment_quote.delivery_address.city_name} | #{@shipment_quote.delivery_address.province_name} | #{@shipment_quote.delivery_address.country_name}"

%table.table
    %thead
        %tr
            %th Name
            %th Delivery Option
            %th Rate
    %tbody
        - CourierRate.all.each do |courier|
            =next unless @shipment_quote.courier_rate(courier)
            %tr
                %td= courier.name
                %td= courier.delivery_option
                %td= "Php #{@shipment_quote.courier_rate(courier)}"

=link_to 'Edit', edit_shipment_quote_path(@shipment_quote), class: 'btn btn-primary'

