<!DOCTYPE html>
<html>
	<head>
		<title>Point A and B</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= custom_javascript_packs %>
		<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<%= render 'home/header'%>
		<div class='container'>
			<% if notice || alert %>
				<%= render 'layouts/alerts' %>
			<% end %>
			<%= yield %>
		</div>
	</body>
</html>
